<!DOCTYPE html>

{% load staticfiles %}
<html>
    <head>
        <title>Courses</title>
        <style>
            body{
                background-color: yellow;
                }
            h1{font-size: 20px}
            h2{font-size: 40px; font-weight: bold}
            h3{font-size: 20px; font-weight: bold}
            h4{font-size: 20px}

        </style>
    </head>

    <body>
        <div>
            <h1>The list of courses provided by the GA program:</h1> <br />

        </div>

        <div>
            {% if categories %}
                <ul>
                    {% for course in courses %}
                    <li><h2>course.title</h2></li>
                    <li><h3>course.startDate</h3></li>
                    <li><h4>course.description</h4></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no courses present.</strong>
            {% endif %}
        </div>
    </body>
</html>
